<%= javascript_pack_tag 'index' %>
<%= form_tag({controller: "calc", action: "sol"}, {name: :"qinfo", onsubmit: "return checkQnum();"}) do %>
<div class="q_num" style="display:inline-flex">
問題数を数字で入力してください:　<input type="number" name="q_num">
</div>
<br>
<input type="submit" value="ゲームスタート">
<%= hidden_field_tag("cnt", @cnt) %>
<%= hidden_field_tag("collect", @collect) %>
<% end %>