// Place all the styles related to the calc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
    //display: flex;
}
/*#list li{
    display: inline;
}*/